* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar a {
    /*color: #333;*/
    text-decoration: none;
}

.navbar a:hover {
    color: #0a53be;
}

.about-us, .image-carousel, .reservation, .reviews, .contact-info {
    padding: 40px 0;
    text-align: center;
}

.about-us h2, .image-carousel h2, .reservation h2, .reviews h2, .contact-info h2 {
    color: #0a53be;
}

.reservation form {
    max-width: 400px;
    margin: 0 auto;
}

.reservation h2 {
    color: #0a53be;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.reviews p {
    font-style: italic;
    color: #666;
}
.customer-img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.contact-info p {
    margin-bottom: 10px;
}

.contact-info a {
    color: #0a53be;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}
.carousel-inner img {
    width: auto;
    max-height: 55%;
    margin: 0 auto;
    display: block;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #0a53be;
    padding: 15px;
    border-radius: 50%;
}
.carousel-control-prev-icon:before, .carousel-control-next-icon:before {
    color: #fff;
    font-size: 24px;
}

@media (max-width: 900px) {
    .image-carousel {
        display: none;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    color: #333;
    background-color: #FAFAFA;
}

.header {
    background: linear-gradient(120deg, #009688 0%, #26d0ce 100%);
    color: #fff;
}

.about-us, .reviews {
    background-color: #FFFFFF;
    padding: 20px 0;
}

.about-us h2, .reviews h2 {
    color: #333;
}

.review h3 {
    color: #555;
}

.carousel-item img {
    filter: brightness(90%);
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    margin-top: 20px;
    justify-content: center;
    object-fit: cover;
    height: 300px;
    width: 300px;
}
.highlight {
    background-color: #26d0ce;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}
.advantages ul {
    list-style: none;
    padding-left: 0;
}
.advantages li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.advantages li::before {
    content: "✓";
    margin-right: 0.5rem;
    color: #198754;
}
.advantage-title {
    font-weight: 700;
    color: #0056b3;
    margin-bottom: 1rem;
}
.advantages .icon {
    width: 24px; /* Icon size */
    height: auto;
    margin-right: 10px;
    vertical-align: -0.125em;
}