body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
    text-align: center;
    padding: 20px 0;
}
h1 {
    font-size: 36px;
    color: #333;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #0a53be;
    color: white;
}

th, td {
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

tbody tr:hover {
    background-color: #ddd;
}

a {
    text-decoration: none;
    color: #0a53be;
}

a:hover {
    text-decoration: underline;
    color: #07409b;
}
