<footer class="footer mt-5 py-3" style="background-color: #b2dfdb;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">About QuickDish</h5>
                <p>QuickDish is your go-to choice for delectable meals delivered straight to your door, combining culinary excellence with impeccable service.</p>
                <p><strong>Address:</strong> 32 AA Street, 000101, Astana</p>
                <p><strong>Phone:</strong> +77075757575</p>
                <p><strong>Email:</strong> <a href="mailto:omilashka@gmail.com" class="text-decoration-none">omilashka@gmail.com</a></p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Services</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/menu" class="text-decoration-none">Menu</a></li>
                    <li class="mb-2"><a href="/order" class="text-decoration-none">Order Online</a></li>
                    <li class="mb-2"><a href="/delivery-info" class="text-decoration-none">Delivery Information</a></li>
                    <li class="mb-2"><a href="/contact" class="text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Social Networks</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://www.instagram.com/your-instagram-page/" class="text-decoration-none">Instagram: @omii</a></li>
                    <li class="mb-2"><a href="https://t.me/Adiqde" class="text-decoration-none">Telegram: @Adiqde</a></li>
                    <li class="mb-2"><a href="https://www.facebook.com/your-facebook-page/" class="text-decoration-none">Facebook: QuickDish</a></li>
                    <li class="mb-2"><a href="https://www.twitter.com/your-twitter-page/" class="text-decoration-none">Twitter: @QuickDish</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center pb-2">
            <p class="text-muted">&copy; 2024 QuickDish Delivery. All Rights Reserved.</p>
            <p class="text-muted">Designed by QuickDish Enthusiasts</p>
        </div>
    </div>
</footer>
