<footer class="footer pt-5 pb-3" style="background-color: #fdfcff;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <h3>About Us</h3>
                <p class="text-muted">Address: 32 aa street, 000101, Astana</p>
                <p class="text-muted">Phone: +77075757575</p>
            </div>
            <div class="col-md-6 mb-3">
                <h3>Social Networks</h3>
                <p>Email: <a href="mailto:omilashka@gmail.com">omilashka@gmail.com</a></p>
                <p>Instagram: <a href="https://www.instagram.com/your-instagram-page/">@omii</a></p>
                <p>Telegram: <a href="https://t.me/Adiqde">@Adiqde</a></p>
            </div>
        </div>
    </div>
</footer>